.card{
    padding: 2rem;
    margin: 0;
}

@media screen and (max-width:768px) {
    card-img-top{
        width: 100%;

    }
    .container{
        max-width: 100%;
        width: 100%;
    }
    .col-3{
        width: 100%;
        float: left;
        margin: 0;
    }
}